{% extends "admin/masterAdmin.html" %}

{% set title = "Products - Grocery" %}

{% block header %}
{% include 'admin/header.html' %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="page-inner">
    <div class="page-header">
      <h3 class="fw-bold mb-3">Produtcs</h3>
      <ul class="breadcrumbs mb-3">
        <li class="nav-home">
          <a href="#">
            <i class="icon-home"></i>
          </a>
        </li>
        <li class="separator">
          <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
          <a href="#">Products</a>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-4">
          <div class="card-header">
            <div class="d-flex align-items-center">
              <h4 class="card-title">Products Table</h4>
              <button class="btn btn-primary btn-round ms-auto" data-bs-toggle="modal" data-bs-target="#addRowModal">
                <i class="fa fa-plus"></i>
                Add Row
              </button>
            </div>
          </div>
          <div class="card-body">

            <!-- Modal Tambah -->
            <div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header border-0">
                    <h5 class="modal-title">
                      <span class="fw-mediumbold">New</span>
                      <span class="fw-light">Product</span>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p class="small">
                      Create a new product using this form, make sure you fill them
                      all
                    </p>
                    <form method="post" action="/products/add" enctype="multipart/form-data">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="form-group form-group-default">
                            <label for="name">Name</label>
                            <input id="name" type="text" name="product_name" class="form-control"
                              placeholder="Enter product name" required>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group form-group-default">
                            <label for="category">Category</label>
                            <select class="form-select p-2" id="category" name="category_id" required>
                              <option selected>Open this select products
                              </option>
                              {% for category in categories %}
                              <option value="{{ category.category_id }}">
                                {{ category.category_name }}
                              </option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group form-group-default">
                            <label for="price">Price per Kg</label>
                            <input id="Price" type="number" class="form-control" name="price_per_kg"
                              placeholder="Enter price per Kg" required>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group form-group-default">
                            <label for="description">Description</label>
                            <textarea id="description" class="form-control" name="description" rows="3"
                              placeholder="Enter product description" required></textarea>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group form-group-default">
                            <label for="stock">Stock</label>
                            <input type="number" id="stock" class="form-control" name="stock"
                              placeholder="Enter product stock" required></input>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group form-group-default">
                            <label for="image">Product Image</label>
                            <input id="image" type="file" class="form-control-file" name="image" required>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer border-0">
                        <button type="submit" class="btn btn-primary">
                          Add Product
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table id="add-row" class="display table table-striped table-hover">
              <thead class="table-light">
                <tr>
                  <th style="width: 3%">No</th>
                  <th>Image</th>
                  <th>Name</th>
                  <th>Category</th>
                  <th>Description</th>
                  <th>Price</th>
                  <th>Stock</th>
                  <th style="width: 8%">Action</th>
                </tr>
              </thead>

              <tbody>
                {% for product in products %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td><img class="img-fluid rounded" src="/images/{{ product.image }}" alt=""
                      style="width: 202px; height: 72px;">
                  </td>
                  <td>{{ product.product_name }}</td>
                  <td>{{ product.category_name }}</td>
                  <td>{{ product.description }}</td>
                  <td>{{ product.price_per_kg }}</td>
                  <td>{{ product.stock }}</td>
                  <td>
                    <div class="form-button-action">
                      <button type="button" class="btn btn-link btn-lg btn-success" data-bs-toggle="modal"
                        data-bs-target="#editModal{{ product.product_id }}">
                        <i class="fa fa-edit"></i>
                      </button>

                      <!-- Modal Edit -->
                      <div class="modal fade" id="editModal{{ product.product_id }}" tabindex="-1"
                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header border-0">
                              <h5 class="modal-title">
                                <span class="fw-mediumbold">Edit</span>
                                <span class="fw-light">Product</span>
                              </h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <p class="small">
                                Edit using this form, make
                                sure you fill them
                                all
                              </p>
                              <form method="post" action="/products/edit/{{ product.product_id }}"
                                enctype="multipart/form-data">
                                <div class="row">
                                  <div class="col-sm-12">
                                    <div class="form-group form-group-default">
                                      <input type="hidden" name="product_id" value="{{ product.product_id }}">
                                      <label for="name">Name</label>
                                      <input id="name" type="text" name="product_name" class="form-control"
                                        placeholder="Enter product name" required value="{{ product.product_name }}">
                                    </div>
                                  </div>
                                  <div class="col-md-12">
                                    <div class="form-group form-group-default">
                                      <label for="category">Category</label>
                                      <select class="form-select p-2" id="category" name="category_id" required>
                                        {% for category in categories %}
                                        <option value="{{ category.category_id }}"
                                          {% if product.category_id == category.category_id %} selected {% endif %}>
                                          {{ category.category_name }}
                                        </option>
                                        {% endfor %}
                                      </select>
                                    </div>
                                  </div>
                                  <div class="col-md-12">
                                    <div class="form-group form-group-default">
                                      <label for="price">Price per
                                        Kg</label>
                                      <input id="Price" type="number" class="form-control" name="price_per_kg"
                                        placeholder="Enter price per Kg" value="{{ product.price_per_kg }}" required>
                                    </div>
                                  </div>
                                  <div class="col-md-12">
                                    <div class="form-group form-group-default">
                                      <label for="description">Description</label>
                                      <textarea id="description" class="form-control" name="description" rows="3"
                                        placeholder="Enter product description"
                                        required>{{ product.description }}</textarea>
                                    </div>
                                  </div>
                                  <div class="col-md-12">
                                    <div class="form-group form-group-default">
                                      <label for="stock">Stock</label>
                                      <input type="number" id="stock" class="form-control" name="stock"
                                        placeholder="Enter product stock" value="{{ product.stock }}" required></input>
                                    </div>
                                  </div>
                                  <div class="col-md-12">
                                    <div class="form-group form-group-default">
                                      <img id="image" class="img-thumbnail rounded my-3"
                                        src="/images/{{ product.image }}" alt="">
                                      <label for=" image">Product
                                        Image</label>
                                      <input id="preview" type="file" class="form-control-file" name="image"
                                        value="{{ product.image }}">
                                    </div>

                                  </div>
                                </div>
                                <div class="modal-footer border-0">
                                  <button type="submit" class="btn btn-primary" name="edit">
                                    Edit Product
                                  </button>
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Modal Edit -->

                      <button type="button" class="btn btn-link btn-danger"
                        onclick="confirmDelete('{{ product.product_id }}')">
                        <i class="fa fa-times"></i>
                      </button>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block js %}

<script>
  function confirmDelete(productId) {
    Swal.fire({
      title: "Are you sure?",
      text: "You won't be able to revert this!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, delete it!"
    }).then((result) => {
      if (result.isConfirmed) {
        Swal.fire({
          title: 'Deleted!',
          text: 'Your file has been deleted.',
          icon: 'success'
        }).then(() => {
          fetch('/products/delete/' + productId, {
            method: 'POST'
          }).then(() => {
            window.location.reload();
          });
        });
      }
    });
  }



  $(document).ready(function () {
    let table = $("#add-row").DataTable({
      "stateSave": true,
      "stateSaveCallback": function (settings, data) {
        localStorage.setItem('DataTables_' + settings.sInstance, JSON.stringify(data));
      },
      "stateLoadCallback": function (settings) {
        return JSON.parse(localStorage.getItem('DataTables_' + settings.sInstance));
      }
    });
  });

</script>

{% for type, messages in messages %}
{% for message in messages %}
<script>
  Swal.fire({
    title: 'Flash Message',
    text: '{{ message }}',
    icon: '{{ type }}',
    confirmButtonText: 'OK'
  });

</script>
{% endfor %}
{% endfor %}

{% endblock %}
